<div class="container" style="margin-left: 60px;">
    <div class="container py-md-4 mt-md-3">
        <h2 class="heading-agileinfo">About Us</h2>
        <span class="w3-line black"></span>
        <div class="row">
            <div class="col-lg-6 welcome-left">
                <h3 style="color: rgb(106, 106, 187);">Welcome</h3>
                <h4>We are committed to offering Loans of the highest quality, combining our energy and
                    enthusiasm, with our years
                    of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who
                    have experienced the
                    joys and inspiration.</h4>
                <p>ABC Retail Baking handling large amount of Customers and providing special offers as well,
                    Please make use of these oppurtunities and offers and Loans</p>
            </div>
            <div class="col-lg-6 welcome-right">
                <div>
                    <img src="assets/RetailBanking.jpg" width="525px;" style="margin-top: 20px;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>