<div class="row" style="margin-left: 350px;">
    <h2 class="heading-agileinfo">Get in Touch with us</h2>
</div>
<div class="container" style="margin-left: 60px;">
    <div class="container py-md-4 mt-md-3">
        <span class="w3-line black"></span>
        <div class="row">
            <div class="col-lg-6 contact-address" style="margin-top: 20px;">
                <h4 class="mb-4 w3f_title">Contact Address</h4>
                <ul class="list-w3">
                    <li class="d-flex"><span class="fa mt-1 mr-1 fa-map-marker"></span>2130 Fulton Street, OMR,
                        <br>Chennai - 600 012.
                    </li>
                    <li class="my-3"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
                    <li class="my-3"><span class="fa mr-1 fa-phone"></span>1-600-1234-567</li>
                    <li class=""><span class="fa mr-1 fa-envelope"></span><a href="#">abcretailbank@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-lg-6 welcome-right">
                <div class="welcome-right-top">
                    <img src="assets/contact.jpg" width="650px" alt="">
                </div>
            </div>
        </div>
    </div>
</div>